body {
    background-image: url(aurore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.box-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width : 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color:white;
}

#city,#humidity,#temp,#wind{
    background-color: rgba(6, 214, 145, 0.658);
    margin: 1px;
    border-radius: 5px;
    box-shadow: 5px whitesmoke;
    gap: 10px;
}